doctype html
html
  head
    title= title
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
