extends layout

block content
  div
  div
    nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
      ul.nav.navbar-nav
        li.active
          a(href='/')
            | Home
            span.sr-only (current)
        li
          a(href='/login') Login
        li
          a(href='/contact') Contact us
  br
  #login.center-vertical
    form.well(id='form-login', method='post')
      h2= title
      h6 Please Login To Your Account
      .form-group
        label Username
        input.form-control(type='text', id='user-tf', name='username')
      .form-group
        label Password
        input.form-control(type='password', id='pass-tf', name='password')
      .controls
        button(type='button').btn.btn-default.button-rememember-me
          span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
          | Remember Me
        button(type='submit').btn.btn-primary.button-sign-in
          span.glyphicon.glyphicon-lock
          | Sign In
      .clearfix

