extends layout

block content
  div
  div
    nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
      ul.nav.navbar-nav
        li.active
          a(href='/')
            | Home
            span.sr-only (current)
        li
          if auth.authenticated
            a(href='/logout') Logout
          else
            a(href='/login') Login
        li
          a(href='/contact') Contact us
  br
  .jumbotron
    p
      | Welcome {auth.user}

